<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>台北一日遊</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/booking.css">
</head>
<body>
  <header>
    <div class="header-container">
      <div class="header-text"><a class="header-text-a"href="/">台北一日遊</a></div>
      <nav>
        <ul>
          <li><a href="/">預定行程</a></li>
          <li class="logout-li"><a id="login-register" href="/">登入/註冊</a></li>
          <li class="logout-a"><a class="logout" href="/">登出系統</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <h4 class="booking-header">您好，test，待預定行程如下 : </h4>
    <section class="booking-info">
      <div class="attraction-img">
        <img src="https://picsum.photos/seed/picsum/300/200" alt="">
      </div>
      <div class="attraction-booking-info">
        <div class="booking-attraction">台北一日遊 : 平安鐘</div>
        <div class="delete-icon"><img src="../static/img/icon_delete.png" alt="Delete"></div>
        <div class=" flex primary-type booking-time">日期&nbsp;&nbsp;:<p class="secondary-type booking-time-text">2021-04-23</p></div>
        <div class="flex primary-type booking-date">時間&nbsp;&nbsp;:<p class="secondary-type booking-date-text">上半天</p></div>
        <div class="flex primary-type booking-price">費用&nbsp;&nbsp;:<p class="secondary-type booking-price-text">新台幣 2000 元</p></div>
        <div class="flex primary-type booking-address">地點&nbsp;&nbsp;: <p class="secondary-type booking-address-text">臺北市 大安區忠孝東路4段</p></div>
      </div>
    </section>
    <hr class="hr-line">
    <section class="contact-info">
      <div class="contact-container">
        <div class="title contact-title">您的聯絡資訊</div>
        <label class="secondary-type" for="title">聯絡姓名&nbsp;&nbsp;:<input type="text" id="title"></label>
        <label class="secondary-type" for="email">聯絡信箱&nbsp;&nbsp;:<input type="text" id="email"></label>
        <label class="secondary-type" for="phone-number">手機號碼&nbsp;&nbsp;:<input type="text" id="phone-number"></label>
        <div class="contact-reminder">請保持手機通暢，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
      </div>
    </section>
    <hr class="hr-line">
    <section class="creditcard-info">
      <div class="creditcard-container">
        <div class="title creditcard-title">信用卡付款資訊</div>
        <label class="secondary-type" for="card-number">卡片號碼&nbsp;&nbsp;: <input type="text" id="card-number"></label>
        <label class="secondary-type" for="card-expirationr">過期時間&nbsp;&nbsp;: <input type="text" id="card-expiration"></label>
        <label class="secondary-type" for="card-security-code">驗證密碼 &nbsp;&nbsp;:<input type="text" id="card-security-code"></label>
      </div>

    </section>
    <hr class="hr-line">
    <section class="booking-confirm">
      <div class="primary-type confirm-total-price">總價&nbsp;&nbsp;:<p class="confirm-price">新台幣 2000 元</p></div>
      <button class="confirm-btn">確認訂購並付款</button>
    </section>
  </main>

  <footer>
    <p>COPYRIGHT &copy; 2021 台北一日遊</p>
 </footer>


</body>
</html>