<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>

  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/booking.css')}}">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>



</head>
<body>
  <header>
    <div class="header-container">
      <div class="header-text"><a class="header-text-a"href="/">台北一日遊</a></div>
      <nav>
        <ul>
          <li><a href="/">預定行程</a></li>
          <li class="logout-li"><a id="login-register" href="/">登入/註冊</a></li>
          <li class="logout-a"><a class="logout" href="/">會員專區</a></li>
        </ul>
      </nav>
    </div>
  </header>


  <main class="main-no-booking">
    <h4 class="no-booking-header"><!--使用者--></h4>
    <p class="no-order-message">目前沒有任何待預定的行程</p>
  </main>

  <main id="booking-main">
    <h4 class="booking-header"><!--使用者--></h4>
    <section class="booking-info">
      <div class="attraction-img">
        <!--img景點照片-->
      </div>
      <div class="attraction-booking-info">
        <div class="booking-attraction"><!--景點名稱--></div>
        <div class="delete-icon"><img src="{{ url_for('static', filename='/img/icon_delete.png') }}" alt="Delete"></div>
        <div class=" flex primary-type booking-time">日期&nbsp;&nbsp;:<p class="secondary-type booking-time-text"><!--日期--></p></div>
        <div class="flex primary-type booking-date">時間&nbsp;&nbsp;:<p class="secondary-type booking-date-text"><!--時間--></p></div>
        <div class="flex primary-type booking-price">費用&nbsp;&nbsp;:<p class="secondary-type booking-price-text"><!--費用--></p></div>
        <div class="flex primary-type booking-address">地點&nbsp;&nbsp;: <p class="secondary-type booking-address-text"><!--地址--></p></div>
      </div>
    </section>

    <hr class="hr-line">

    <section class="contact-info">
      <div class="contact-container">
        <div class="title contact-title">您的聯絡資訊</div>
        <label class="secondary-type" for="title">聯絡姓名&nbsp;&nbsp;:<input id="contact-name" type="text" id="title"></label>
        <label class="secondary-type" for="email">聯絡信箱&nbsp;&nbsp;:<input id="contact-email" type="text" id="email"></label>
        <label class="secondary-type" for="phone-number">手機號碼&nbsp;&nbsp;:<input type="tel" id="phone-number"></label>
        <div class="contact-reminder">請保持手機通暢，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
      </div>
    </section>

    <hr class="hr-line">

    <form class="creditcard-info" id="tappay-form">
      <div class="creditcard-container" id="tap-container">
        <div class="title creditcard-title">信用卡付款資訊</div>
        <div class="card-number-group">
          <label class="secondary-type" for="card-number">卡片號碼&nbsp;&nbsp;:<div id="card-number" class="tpfield"></div></label>
        </div>
        <div class="card-exp-date-group">
          <label class="secondary-type" for="card-expirationr">過期時間&nbsp;&nbsp;:<div id="card-exp-date" class="tpfield"></div></label>
        </div>
        <div class="card-ccv-group ">
          <label class="secondary-type" for="card-security-code">驗證密碼&nbsp;&nbsp;:<div id="card-ccv" class="tpfield"></div></label>
        </div>
      </div>

      <hr class="hr-line">

      <div class="booking-confirm">
        <div class="primary-type confirm-total-price">總價&nbsp;&nbsp;:<p class="confirm-price"><!--總價-->>></p></div>
        <button type="submit" class="confirm-btn">確認訂購並付款</button>
        <p id="confirm-message"></p>
      </div>
    </form>



  </main>

  <footer>
    <p>COPYRIGHT &copy; 2021 台北一日遊</p>
 </footer>

 <script src="https://js.tappaysdk.com/tpdirect/v5.9.0"></script>
 <script src="{{url_for('static', filename='/js/booking.js')}}"></script>



</body>
</html>