<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>台北一日遊</title>
  <!-- <link rel="stylesheet" href="../static/css/reset.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/index.css">

</head>
<body>
  <header>
    <div class="headerContainer">
      <div class="ContainerText">台北一日遊</div>
      <nav>
        <ul>
          <li><a href="#">預定行程</a></li>
          <li><a href="#">登入/註冊</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <section class="firstSection">
      <div class="sectionLeft">
        <div class="leftTitle">輕鬆享受台北一日悠閒</div>
        <div class="leftnContent">探索每個角落，體驗城市的深度旅遊行程</div>
        <div class="leftInputContainer">
          <input id="leftInput" type="text" placeholder="輸入景點名稱查詢">
          <input id="inputImg" type="button" value="">
        </div>
      </div>
    </section>

    <section class="secondSection">
      <div class="gridbox">
        <div class="boxImg"><img src="https://picsum.photos/270/200?random=1"></div>
        <div class="boxText">
          <div class="arrName">平安鐘</div>
          <div class="arrTransport">忠孝復興</div>
          <div class="arrType">公共藝術</div>
        </div class="boxText">
      </div>
      <div class="gridbox">
        <div class="boxImg"><img src="https://picsum.photos/270/200?random=1"></div>
        <div class="boxText">
          <div class="arrName">平安鐘</div>
          <div class="arrTransport">忠孝復興</div>
          <div class="arrType">公共藝術</div>
        </div class="boxText">
      </div>
      <div class="gridbox">
        <div class="boxImg"><img src="https://picsum.photos/270/200?random=1"></div>
        <div class="boxText">
          <div class="arrName">平安鐘</div>
          <div class="arrTransport">忠孝復興</div>
          <div class="arrType">公共藝術</div>
        </div class="boxText">
      </div>
      <div class="gridbox">
        <div class="boxImg"><img src="https://picsum.photos/270/200?random=1"></div>
        <div class="boxText">
          <div class="arrName">平安鐘</div>
          <div class="arrTransport">忠孝復興</div>
          <div class="arrType">公共藝術</div>
        </div class="boxText">
      </div>
      <div class="gridbox">
        <div class="boxImg"><img src="https://picsum.photos/270/200?random=1"></div>
        <div class="boxText">
          <div class="arrName">平安鐘</div>
          <div class="arrTransport">忠孝復興</div>
          <div class="arrType">公共藝術</div>
        </div class="boxText">
      </div>
      <div class="gridbox">
        <div class="boxImg"><img src="https://picsum.photos/270/200?random=1"></div>
        <div class="boxText">
          <div class="arrName">平安鐘</div>
          <div class="arrTransport">忠孝復興</div>
          <div class="arrType">公共藝術</div>
        </div class="boxText">
      </div>
      <div class="gridbox">
        <div class="boxImg"><img src="https://picsum.photos/270/200?random=1"></div>
        <div class="boxText">
          <div class="arrName">平安鐘</div>
          <div class="arrTransport">忠孝復興</div>
          <div class="arrType">公共藝術</div>
        </div class="boxText">
      </div>
      <div class="gridbox">
        <div class="boxImg"><img src="https://picsum.photos/270/200?random=1"></div>
        <div class="boxText">
          <div class="arrName">平安鐘</div>
          <div class="arrTransport">忠孝復興</div>
          <div class="arrType">公共藝術</div>
        </div class="boxText">
      </div>
      <div class="gridbox">
        <div class="boxImg"><img src="https://picsum.photos/270/200?random=1"></div>
        <div class="boxText">
          <div class="arrName">平安鐘</div>
          <div class="arrTransport">忠孝復興</div>
          <div class="arrType">公共藝術</div>
        </div class="boxText">
      </div>
      <div class="gridbox">
        <div class="boxImg"><img src="https://picsum.photos/270/200?random=1"></div>
        <div class="boxText">
          <div class="arrName">平安鐘</div>
          <div class="arrTransport">忠孝復興</div>
          <div class="arrType">公共藝術</div>
        </div class="boxText">
      </div>
      <div class="gridbox">
        <div class="boxImg"><img src="https://picsum.photos/270/200?random=1"></div>
        <div class="boxText">
          <div class="arrName">平安鐘</div>
          <div class="arrTransport">忠孝復興</div>
          <div class="arrType">公共藝術</div>
        </div class="boxText">
      </div>
      <div class="gridbox">
        <div class="boxImg"><img src="https://picsum.photos/270/200?random=1"></div>
        <div class="boxText">
          <div class="arrName">平安鐘</div>
          <div class="arrTransport">忠孝復興</div>
          <div class="arrType">公共藝術</div>
        </div class="boxText">
      </div>
    </section>
  </main>

  <footer>
     <p>COPYRIGHT &copy; 2021 台北一日遊</p>
  </footer>

</body>
</html>